<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="calculatorservice"
                address="http://127.0.0.1:8024/CalculatorService.svc"
                binding="wsHttpBinding"
                contract="IService.ICalculator"
                />
    </client>
  </system.serviceModel>
</configuration>